.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2rem;
  height: auto;
  padding: 1rem 0;
  margin-top: 0.5rem;
  text-align: center;
}

.bottomLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .bottomLink {
    justify-content: center;
    align-items: center;
  }
}

.inputBox {
  width: 100%;
  max-width: 320px;
}

.space {
  width: 0;
}

.error {
  color: red;
  max-width: 320px;
}
